html {
	height: auto;
	min-height: 100%;
}

body {
	height: auto;
	min-height: 100%;
}



/*jumbotron*/
.jumbotron img {
	width: 150px;
	border: 5px solid #222 ;
	height: 180px;
}

.jumbotron {
	height: 400px;
	padding-bottom: 20px;
	background-image: url('img/header.png');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -100px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	overflow: hidden;
}

.jumbotron p, .jumbotron h1 {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	color: #040423;
}

.head {
	padding-top: 40px;
}

hr {
	width: 250px;
	border-top: 3px solid #333;
}

/*about*/
.p-left {
	opacity: 0;
	transform: translate(-100px,0) rotate(15deg);
	transition: 1s;
}

.p-right {
	opacity: 0;
	transform: translate(100px,0) rotate(-15deg);
	transition: 1s;
}

.p-show {
	opacity: 1;
	transform: translate(0,0);
}


/*portfolio*/
section {
	min-height: 600px;
}

.portfolio {
	background-color: #eee;
}

.portfolio .thumbnail {
	opacity: 0;
	transform: translate(0,-40px);
	transition: 1s;
}

.portfolio .thumbnail.muncul {
	opacity: 1;
	transform: translate(0,0);
}

.row img {
	height: 150px;
	width: 250px;
	margin-left: 20%;
	border: 5px solid #FFF;
}

.row {
	margin-top: 10px;
}



/*contact*/
.form-container {
	margin-top: 5px;
	margin-left: 20%;
	margin-right: 20%;
}

form {
	margin-top: 30px;
}



/*footer*/
.blockquote {
	background-color: #d7dde5;
	padding-bottom: 20px;
	padding-top: 20px;
}

.blockquote p {
	padding-bottom: 20px;
}

a {
	color: #fff;
}

.footer {
	margin-top: -70px;
}